/00-Basic-Template.py
/01-Template-Variables.py
/02-Template-Filters.py
/03-Template-Control-Flow.py
/04-Template-Inheritance.py
/05-URL-For-Help.py
/06-Form-Example.py
/static/
/04-Forms/
/03-Template-Basics/
/02-Flask-Basics/
